@media (max-width: 768px){
    .burgerbar{
        display: block;
        color: blueviolet;
    }
    .navigation{
        display: none;
    }
}
@media (max-width: 1024px){
    .form-wraper{
    flex-direction: column;
    } 
    .right-block,
    .left-block,{
        max-width:100%;
    }

}