.header-div{
    background-image: url(../assets/header\ pic.jpg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.containter{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-family: "poppins";
    
}
.d-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 96px;
}
.nav-ul{
    display: flex;
}
li a {
    color: #fff;
    display: flex;
    padding-right: 46px;

}
.logo{
    color: #fff;
}
.contact-p{
    font-size: 42px;
    font-family:"poppins";
    font-weight:800 ;
    
}
.burgerbar{
    display: none;
    
}
.contact-p1{
   display: inline-block;
   vertical-align: top;
   padding-top: 14px;
   font-family: "poppins";
   font-size: 14px;
   margin-right: 16.5px;
}
.map-section{
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
    padding-top: 50px;
    
}
.contact-box{
    margin: 0 auto;
    padding-top: 56px;
}
.contact-h{
  color:#5863F8 ;  
}

.contact-p{
    max-width: 378px;
    height: 115px;
    font-weight: 40px;
    padding-top: 10;
}
.form-div{
    max-width: 1088px;
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: space-between;

    
}
.description{
    color: #CECECE;
    border-color: #E8E8E8;
    
}
.label-box{
    max-width: 352px;
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 16px;
}
.submit{
    background-color: #5863F8;
    width: 352px;
    height: 60px;
}
.input{
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;
    border-color: #E8E8E8;
    color: #CECECE;
}
.information-box{
    max-width: 1078px;
    width: 100%;
    height: 147px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 338px;
}
.email{
    max-width: 291px;
    height: 144px;
}
.info-p{
    max-width: 58px;
    width: 100%;
    height: 25px;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
}
.info-p1{
    color: #B1B1B1;
    font-family: "poppins";
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}
.icon-div{
    background-color: #5863F8;
    max-width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.icon{
    max-width: 18px;
    width: 100%;
    height: 18px;
    display: flex;
    align-self: center;
}
.image-section{
    max-width: 1366px;
    width: 100%;
    height: 537px;
}
.image-h{
    color: #5863F8;
    font-weight: 200px;
}
.image-p{
    font-family: "Poppins";
    max-width: 570px;
    width: 100%;
    height: 115px;
    font-weight: 800;
    font-size: 42px;
    padding-top: 10px;
}
.images{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.footer{
    width: 100%;
    height: 395px;
    background-color: black;
    
}
.footer-div1{
    display: flex;
    width: 260px;
    height: 192px;
}
.about-zetta{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 200px;
    color: #F8F8F8;
}
.about-zetta-p{
    font-family: "poppins";
    font-size: 14px;
    color: #B1B1B1;
}
.useful-links-p{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 200px;
    color: #F8F8F8;
}
.useful-nav{
    color: #5863F8;
    font-family: "poppins";
    font-size: 14px;

}
.privacy-h{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 200px;
    color: #F8F8F8;
}




