.header-div{
    background-image: url(../assets/header\ pic.jpg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: nowrap;
    }
.containter{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-family: "poppins";
    
}
.d-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 96px;
}
.nav-ul{
    display: flex;
}
li a {
    color: #fff;
    display: flex;
    padding-right: 46px;

}
.logo{
    color: #fff;
}
.contact-p{
    font-size: 42px;
    font-family:"poppins";
    font-weight:800 ;
    
}
.burgerbar{
    display: none;
    
}
.contact-p1{
   display: inline-block;
   vertical-align: top;
   font-family: "poppins";
   font-size: 14px;
}
.google-map{
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin-top: 30px;
}
.container{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    
}
.form-wraper{
    display: flex;
    justify-content: space-between;
}
.left-block{
    max-width: 720px;
    width: 100%; 
}
.right-block{
    max-width: 352px;
    width: 100%;
}
.left-block textarea{
    width: 98%;
    height: 288px;
    resize: none;
    color: #CECECE;
    background-color: #E8E8E8;
    border: none;
    white-space: nowrap;
}
textarea: focus,
.input-block:focus{
    outline: none;
}
.input-block{
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    color: #CECECE;
    background-color: #E8E8E8;
    border: none;
}
.btn-wraper{
    width: 100%;
    height: 60px;
    background-color: #5863F8;
    color: #fff;
    border: none;
}
.container-h{
    color: #5863F8;
    font-size: 14px;
    font-family: "poppins";
    font-weight: 400;
    margin-top: 56px;
}
.container-p{
    font-size: 42px;
    font-weight: 800;
    font-family: "poppins";
    max-width: 378px;
    height: 115px;
    white-space: nowrap;
}
.contact-block{
    max-width: 362px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bluebox{
    background-color: #5863F8;
    width: 59px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-li{
    color: #CECECE;
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
}
.container-contact-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.photos-h{
    max-width: 58px;
    width: 80%;
    color: #5863F8;
    display: flex;
    justify-content: flex-start;
    margin-top: 90px;
}
.photos-p{
    font-size: 42px;
    font-weight: 800;
    font-family: "poppins";
    height: 115px;
    white-space: nowrap;
}
.photos-text-wraper{
    max-width: 300px;
    width: 100%;
    height: 135px;
}
.image-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    marg
}
